{% extends 'layout.html' %}
{% block body %}

<div>
        {% if word %}
        <form action="{{ url_for('submit') }}" method="post">
            <input type="text" name="name" placeholder="{{ word }}">
            <br>
            <button>OK</button>
             </form>
        {% else %}
            <h2>You have answered all words!</h2>
            <a href=refresh><button>Start again</button></a>
        {% endif %}
    <a href="/" ><button>Back</button></a>
</div>
{% endblock %}

